* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9999CC;
    color: #fff;
    border-bottom: 1px solid #9A9F2E;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
}

header p {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;

}

.text {
    width: 720px;
    border: 1px solid #000;
    margin: 80px auto;
    line-height: 1.5;
    text-align: justify;
    padding: 25px;
}

.text p {
    margin-bottom: 20px;
}

.nav {
    width: 230px;
    display: flex;
    margin: 0 auto 30px;
}

.nav-wrapper {
    display: flex;

}

.item {
    width: 40px;
    height: 40px;
    margin: 3px;
    background-color: #ccc;
    cursor: pointer;
    position: relative
}

.item p {
    margin: 0;
    color: #333;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.arrow-left,
.arrow-right {
    width: 40px;
    height: 40px;
    margin: 3px;
    background-color: #ccc;
    cursor: pointer;
    position: relative
}

.arrow-left p,
.arrow-right p {
    margin: 0;
    color: #333;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.activ,
.activ p {
    background-color: #d10953;
    color: #fff;
}