* {
    margin: 0;
    padding: 0;
}

body {
    height: 1080px;
    width: 99vw;
}

header,
footer {
    border: 1px solid #121212;
    width: 100%;
    height: 20%;
    float: both;
}

aside {
    float: left;
    border: 1px solid #121212;
    width: 25%;
    height: 60%;
}

article {
    border: 1px solid #121212;
    width: 100%;
    height: 60%;
}