* {
    margin: 0;
    padding: 0;
}

.one {
    z-index: 1;
    position: relative;
    top: 0;
}

.two {
    z-index: 2;
    position: absolute;
    top: 80px;
    left: 400px;
}

.three {
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 200px;
}

.four {
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 70px;
}

.five {
    z-index: 5;
    position: absolute;
    top: 140px;
    left: 165px;
}

.six {
    z-index: 4;
    position: absolute;
    top: 150px;
    left: 165px;
}

.seven {
    z-index: 6;
    position: absolute;
    top: 329px;
    left: 465px;
}

.eight {
    z-index: 7;
    position: absolute;
    top: 240px;
    left: 120px;
}