table {
    border-collapse: collapse;
    width: 500px;
}

th {
    border: 1px solid #ccc;
    background-color: #f0f1f4;
    font-weight: 600;
}

.thead td,
.tboody td {
    border: 1px solid #ccc;

}

td,
td {
    padding: 5px 10px;
}

.tfoot {
    background-color: #121212;
    color: #fff;
    border: 1px solid #121212;

}