* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
}

.nav-h-drop {
    background-color: #444444;
    padding: 5px 10px;
    color: #fff;
    width: 190px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

li:hover {
    background-color: #333333;
}

.nav-h-drop:hover>.nav-drop {
    display: block;
    background-color: #333333;
    width: 190px;
    margin-left: -10px;
    padding: 5px 10px;
    text-align: center;
}

.drop {
    padding: 5px 0 5px 0;
}