body {
    background-color: #f8f8f8;
}

.reg {
    width: 320px;
}

input {
    padding: 10px;
    width: 285px;
    margin: 5px;
    border: 2px solid #ccc;
}

input:hover {
    border: 2px solid #14a20a;
}

.submit {
    margin: 5px;
    width: 310px;
    color: #fff;
    background-color: #1cbc11;
    border: 2px solid #1cbc11;
}