* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBEBEB;
}

/*header*/
.wrapper-nav {
    list-style: none;
    display: flex;
    background-color: #03786F;
    color: #fff;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
}

.wrapper-nav>li {
    padding: 10px 20px;
}

.wrapper-nav>li:hover {
    background-color: #585858;
}

.wrapper-nav>li.active {
    background-color: #585858;
}

/*main*/
.main {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 70px 0 35px 0;
    height: 80vh;
}

.side-left {
    width: 20%;
}

.content {
    width: 60%;
}

.side-right {
    width: 20%;
}

/*footer*/
footer {
    background-color: #03786F;
    position: relative;
}

.wrapper-notes {
    display: flex;
}

.notes {
    background-color: #EBEBEB;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.capha {
    color: #fff;
    text-align: center;
    padding: 10px;
}