* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9999CC;
    color: #fff;
    border-bottom: 1px solid #9A9F2E;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
}

header p {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;

}

.text {
    width: 720px;
    border: 1px solid #000;
    margin: 80px auto;
    line-height: 1.5;
    text-align: justify;
    padding: 25px;
}

.text p {
    margin-bottom: 20px;
}