* {
    list-style: none;
}

ul {
    display: flex;
}

li {
    cursor: pointer;
}

li>a {
    color: #0b56ea;
}

li>span {
    color: #333;
}

li a:after {
    content: '>';
    margin: 0 5px;
    color: #333;
}